body {
  background: #553055;
  color: #fff;
}

.app {
  background: #4c2a4c;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  box-sizing: border-box;
  background: #6d3d6d;
  text-align: center;
  padding: 8px;
}

span {
  color: red;
  font-size: large;
}

ul {
  box-sizing: border-box;
  list-style-type: none;
  padding: 10px;
}

.book-list li,
.empty {
  box-sizing: border-box;
  background: #6d3d6d;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: start;
}
.book-list li:hover {
  text-decoration: line-through;
  background: #533053;
}

form {
    padding: 5px;
}

.form-field input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 8px;
}
::placeholder {
    color:#533053 ;
}

button {
    border: none;
    padding: 10px;
    color:#533053; 
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #533053 ;
    color: #fff;
    border: 1px solid #fff;
}